<% include ./partials/header %>
<div class="table-responsive-sm">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><img width="42" height="42" src="https://i2.wp.com/raconteurgames.com/wp-content/uploads/2016/01/fire.gif?w=1080"></td>
          <td>Fire.gif</td>
          <td>www.raconteurgames.com/stories/</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><img width="42" height="42" src="https://smores.tv/assets/img/camping.png"></td>
          <td>Campround.png</td>
          <td>www.smores.tv/</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><img width="42" height="42" src="https://www.freeiconspng.com/uploads/campsite-png-16.png"></td>
          <td>CampsiteTransparentBackground.png</td>
          <td>www.freeiconspng.com/img/33990</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><img width="42" height="42" src="https://ak4.picdn.net/shutterstock/videos/2820814/thumb/8.jpg"></td>
          <td>minimalistbackground.jpg</td>
          <td>ak4.picdn.net/shutterstock/videos/2820814/thumb/8.jpg</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td><img width="16" height="16" src="../img/tent.png"></td>
          <td>tent.png</td>
          <td>Icon made by Freepik from www.flaticon.com </td>
        </tr>
      </tbody>
    </table>
</div>
<% include ./partials/footer %>